# Project specific
docroot/
etc/local.yml
etc/apache.conf

# Drupal specific
docroot/sites/default/files
docroot/sites/*/files
docroot/sites/*/private

# Other files
*.log
*.sql
*.sqlite

# IDE specific
.idea
